@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
}

/*Header*/

div.header-img {
  display: flex;
  justify-content: center;
  margin: 2%;
}

/*Nav-bar*/

#nav-bar {
  margin-left: 14.5%;
  margin-bottom: 1%;
}
#nav-bar a {
  background-color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(66, 66, 66);
  text-decoration: none;
  display: inline;
  justify-content: right;
  margin-left: 17px;
}
#nav-bar a:hover {
  color: #b0c364;
}

/*Carrousel*/

#carrousel-section {
  max-width: 1200px;
  margin: 0 auto;
}

#carrousel {
  font-family: 'Montserrat', sans-serif;
  /* width: 100%; */
  /* max-width: 1200px; */
  margin: 0 auto;
  position: relative;
}

button.slick-arrow {
  background-color:#b0c364;
display:inline-block;
cursor:pointer;
color:#ffffff;
  font-family: 'Montserrat', sans-serif;
font-size: 11px;
font-weight:bold;
padding:11px 24px;
  position: absolute;
  border: none;
}

button.slick-arrow.slick-prev {
  top: 45%;
  left: 15px;
  z-index: 1;
}

button.slick-arrow.slick-next {
  top: 45%;
  right: 15px;
  z-index: 1;
}

button.slick-arrow.slick-prev:hover {
background-color:#bed36c;
}

button.slick-arrow.slick-next:hover {
background-color:#bed36c;
}

div.carrousel-card-node {
  /* width: 33%; */
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

div.carrousel-card-node div.carrousel-card-image {
  background-color: #000;
}

div.carrousel-card-node div.carrousel-card-image img {
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
}

div.carrousel-card-node div.carrousel-card-content {
  top: 40px;
  left: 25px;
  width: 260px;
  height: 230px;
  margin: 30px;
  background-color: white;
  padding: 15px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

/* div.carrousel-card-node.slick-active[data-slick-index="1"] div.carrousel-card-content {
  opacity: 1;
} */
div.carrousel-card-node.slick-current + .slick-active div.carrousel-card-image img {
  opacity: 1;
}

div.carrousel-card-node.slick-current + .slick-active div.carrousel-card-content {
  opacity: 1;
  opacity: 1;
}


div.carrousel-card-node div.carrousel-card-content p.the-best {
  color: #b0c364;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
}

div.carrousel-card-node div.carrousel-card-content p.editor {
  color: #7a7a7a;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
}

.carrousel-border{
  border: 2px solid #b0c364;
  height: 180px;
  padding-top: 45px;
}
div.carrousel-card-node div.carrousel-card-content h2 {
  color: black;
  text-align: center;
}
.boton-prev {
background-color:#b0c364;
display:inline-block;
cursor:pointer;
color:#ffffff;
  font-family: 'Montserrat', sans-serif;
font-size:15px;
font-weight:bold;
padding:10px 24px;
  text-decoration:none;
  position: absolute;
  top: 45%;
  left: 15px;
}

.boton-next {
background-color:#b0c364;
display:inline-block;
cursor:pointer;
color:#ffffff;
  font-family: 'Montserrat', sans-serif;
font-size: 15px;
font-weight:bold;
padding:10px 24px;
  text-decoration:none;
  position: absolute;
  top: 45%;
  right: 27px;
}



#clear {
  clear: both;
}

/*Cards healthy*/

#healthy {
  width: 73%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3%;
}
div.card-node {
  width: 33%;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 15px;
}
div.card-node div.card-image img {
  width: 100%;
}
div.card-node div.card-content {
  top: 60px;
  left: 23px;
  width: 260px;
  height: 100px;
  margin: /*30px*/ 0 auto;
  margin-top: 3%;
  margin-left: 2.5%;
  background-color: white;
  padding:/*15px*/ 5%;
  position: absolute;
}
div.card-node div.card-content p {
  color: #b0c364;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
}
.border {
  border: 2px solid #b0c364;
}
div.card-node div.card-content h2 {
  color: #000000;
  text-align: center;
}
div.clear {
  clear: both;
}

/* Central Cards*/

div.central_card {
  display: flex;
  width: 73%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 1%;
  padding-bottom: 0%;
  box-sizing: border-box;
}
div.central_card h4 {
  color: #b0c364;
  font-size: 13px;
}
div.central_card h2 {
  color: #000000;
  font-weight: 600;
}
div.central_card time {
  font-size: 12px;
  font-weight: 600;
}
div.central_card span {
  font-size: 12px;
  font-weight: 600;
}
div.central_card div.central_card_img {
  float: left;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 0%;
  width: 49%;
  height: auto;
}
div.central_card div.central_card_img img {
  width: 100%;
  height: auto;
}
div.central_card div.central_card_txt {
  width: 51%;
  height: auto;
  text-align: center;
  padding-top: 5%;
  padding-left: 2%;
  font-weight: 500;
}
div.central_card div.central_card_txt button {
  color: #ffffff;
  background-color: #b0c364;
  border: none;
  padding: 3% 4%;
  cursor: pointer;
}
div.central_card2 {
  display: flex;
  width: 73%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4%;
  padding: 1%;
  box-sizing: border-box;
}
div.central_card2 h4 {
  color: #b0c364;
  font-size: 13px;
}
div.central_card2 h2 {
  color: #000000;
  font-weight: 600;
}
div.central_card2 time {
  font-size: 12px;
  font-weight: 600;
}
div.central_card2 span {
  font-size: 12px;
  font-weight: 600;
}
div.central_card2 div.central_card_img2 {
  float: right;
  justify-content: center;
  padding-top: 0%;
  width: 49%;
  height: auto;
}
div.central_card2 div.central_card_img2 img {
  width: 100%;
  height: auto;
}
div.central_card2 div.central_card_txt2 {
  float: left;
  width: 51%;
  height: auto;
  text-align: center;
  padding-top: 5%;
  padding-right: 2%;
  font-weight: 500;
}
div.central_card2 div.central_card_txt2 button {
  color: #ffffff;
  background-color: #b0c364;
  box-shadow: none;
  border: none;
  padding: 3% 4%;
  cursor: pointer;
}

/*mid cards*/

div.last_section {
  display: flex;
  float: left;
  box-sizing: border-box;
}
div.main-content {
  width: auto;
  display: flex;
  box-sizing: border-box;
  float: left;
  margin: 15px;
  margin-left: 22%;
}
div.main-content div.main-content-image img {
  width: 300px;
  height: 280px;
}
div.main-content-third {
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0;
  margin-top: -12px;
  border: 900px;
}
div.main-content-h1 p {
  color: #b0c346;
  font-size: 13px;
  font-weight: bolder;
}
div.main-content-h2 h2 {
  font-weight: bolder;
  font-size: 25px;
  color: #000000;
}
div.main-content-h2 div.main-content-date time {
  color: #7a7a7a;
  margin-top: -13px;
  font-size: 10px;
  font-weight: bold;
}
div.main-content-text {
  text-align: justify;
  color: #7a7a7a;
  font-size: small;
  font-weight: 500;
  margin-top: 26px;
}
/*Last cards*/
#cards-derecha {
  width: 30%;
  margin-top: 1%;
  margin-right: 15%;
}
.general {
  width: 260px;
  margin-bottom: 20px;
  background-color: white;
  height: auto;
}
div.general div.imagen {
  width: 40%;
  float: left;
  margin-bottom: 20px;
}
div.general div.imagen img {
  width: 100%;
  height: auto;
}
div.general div.contenido {
  width: 60%;
  float: right;
  box-sizing: border-box;
  padding: 0 6px;
  padding-left: 20px;
  margin-top: -14px;
}
div.general div.contenido h2 {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
div.general div.contenido p {
  font-size: 8px;
  font-weight: bold;
  color: #7a7a7a;
}
/*Footer*/
footer p {
  margin-left: 15%;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
}
.clear-float {
  clear: both;
}
